.content-wrapper {
    max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        position: relative;
}

.image-container {
    width: 100%;
    height: 250px; /* Adjust this value to set the desired maximum height */
    overflow: hidden;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 20px;
}

h1, p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px; 
}

.radio-group label {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
    min-height: 1.5em;
}

input[type="radio"] {
    margin-right: 5px;
}

.center-button {
    height: 30 px;
    line-height: normal;
    margin-top: 20px;
    width: 15%;
    box-sizing: border-box;
    padding: 10px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.attribution {
    font-size: 0.8em;
    color: #666;
    margin-top: 50px;
    text-align: center;
}

.attribution a {
    color: #0066cc;
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

.feedback-message {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #f8d7da;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}