.content-wrapper {
    max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        position: relative;
}

.image-container {
    width: 100%;
    height: 250px; /* Adjust this value to set the desired maximum height */
    overflow: hidden;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 20px;
}

h1, p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.radio-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    vertical-align: middle;
    margin-right: 5px;
}

.center-button {
    margin-top: 20px;
    width: 100%;
    padding: 10px 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.attribution {
    font-size: 0.8em;
    color: #666;
    margin-top: 10px;
    text-align: center;
}

.attribution a {
    color: #0066cc;
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}