<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song lyrics</title>
</head>
<body>
    <h1>Random Song of the Day</h1>
    <p><strong>{{ title }}</strong> by {{ artist }}</strong></p>
    <form action="{{ url_for('process_request') }}" method="post">
        <input type="hidden" name="song_title" value="{{ title }}">
        <label for="yes">Yes, I'd love the lyrics!</label>
        <input type="radio" id="yes" name="choice" value="yes" required>
        <br>
        <label for="no">No thanks, I'm good.</label>
        <input type="radio" id="no" name="choice" value="no" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>