<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song lyrics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content-wrapper">
    <div class="image-container">
    <img src="{{ url_for('static', filename='summer-music-photo-1155889.jpg') }}" alt="Summer music">
    </div>
    <h1>Sangvelger for sommersanger</h1>
    <p><strong>{{ title }}</strong> med {{ artist }}</strong></p>
    <form action="{{ url_for('process_request') }}" method="post">
        <input type="hidden" name="song_title" value="{{ title }}">
        <input type="hidden" name="artist" value="{{ artist }}">
        <div class="radio-group">
        <label for="yes">Ja, jeg vil ha teksten!</label>
        <input type="radio" id="yes" name="choice" value="yes" required>
        </div>
        <div class="radio-group">
        <label for="no">Nei takk. Gi meg en annen.</label>
        <input type="radio" id="no" name="choice" value="no" required>
        </div>
        <button type="submit" class=" center-button">Submit</button>
    </form>
    <p class="attribution">Photo by <a href="/photographer/jaylopez-61821">jaylopez</a> on <a href="/">Freeimages.com</a></p>
    </div>
</body>
</html>

